<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>

    <h3>management</h3>

    <form action="/car/addModel" method="post">
        제조사
        <select id="" class="form-select" name="mfrCode">
            <option th:each="mfr : ${mfrList}" th:value="${mfr.mfrCode}">[[${mfr.mfrName}]]</option>
        </select>
       모델 <input type="text" name="modelName">
       가격 <input type="text" name="price">
        <input type="submit" value="Add">
    </form>

    <div th:each ="aaa : ${carList}">

        <p>[[${aaa.mfrName}]]</p>
        <p>[[${aaa.modelNumber}]]</p>
        <p>[[${aaa.modelName}]]</p>
        <p>[[${aaa.price}]]</p>
        <p>---------------------</p>
    </div>


</body>
</html>


 
 