<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="salesMapper">
    <resultMap id="salesList" type="com.car.manage.sales.vo.SalesVO">
        <result column="SALES_NUMBER" property="salesNumber" />
        <result column="buyer" property="buyer" />
        <result column="BUYER_CONTACT" property="buyerContact" />
        <result column="COLOR" property="color" />
        <result column="SALES_DATE" property="salesDate" />
        <result column="MODEL_NUMBER" property="modelNumber" />
    </resultMap>

    <insert id="addSales">
        INSERT INTO sales_info (
        BUYER
        ,   BUYER_CONTACT
        ,   COLOR
        ,   MODEL_NUMBER

        ) values (
         #{buyer}
        ,   #{buyerContact}
        ,   #{color}
        ,   #{modelNumber}
        )
    </insert>






</mapper>































